* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.qr-reader {
    width: 100%;
    height: 300px;
    border: 2px dashed #007bff; /* Borde azul */
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative; /* Para centrar el texto */
    display: flex;
}



button {
    background-color: #007bff; /* Color azul */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3; /* Color azul más oscuro al pasar el ratón */
}

#result {
    margin-top: 15px;
    font-size: 16px;
    color: #333;
}

.hidden {
    display: none;
}
